@font-face {
  font-family: ChillYunmo;
  src: url("./assets/fonts/ChillYunmoGothicRegular.otf") format("opentype");
  font-display: swap;
}

:root {
  --color-dark-1: #404040;
  --color-dark-2: #383838;
  --color-dark-3: #2C2C2C;

  --color-gray-1: #9d9d9d;
  --color-gray-2: #d7d7d7;


  --color-light-1: #f5f5f5;

  color: var(--color-light-1);
  background-color: var(--color-dark-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: ChillYunmo, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#app {
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
}

.n-config-provider {
  width: 100%;
  height: 100%;
}

.context-menu {
  position: absolute;
  background-color: var(--color-light-1);
  color: var(--color-dark-3);
  width: 200px;
  padding: 0 4px;
  border: solid 1px var(--color-dark-3);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  .context-menu-group{
    padding: 4px 0;
    &:not(:last-child){
      border-bottom: solid 1px var(--color-gray-1);
    }
  }
  .context-menu-item{
    padding: 4px 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    &>.shortcut{
      color: var(--color-gray-1);
      margin-left: auto;
      font-size: 12px;
    }
    &>.prefix{
      position:absolute;
      left: 0;
      display: inline-flex;
      align-items: center;
    }
    &>.icon-more{
      position: absolute;
      right: 0;
      top: 10px;
    }
    &:hover{
      background-color: var(--color-gray-2);
      &>.context-menu{
        display: block;
      }
    }
    &.disabled{
      color: var(--color-gray-1);
      pointer-events: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
